<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Bio</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
	I am pursuing my Master's degree in Computer Science from Binghamton University, SUNY, and obtained my Bachelor's degree in Information Security from Renmin University of China. Currently working with Dr. <a href="https://sites.google.com/a/binghamton.edu/aravind/">Aravind Prakash</a>, I have a strong interest in software and hardware security, including but not limited to:
		<ul class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}" style="padding-left:20px">
			<li>Authentication based on fingerprint and finger vein</li>
			<li>Blockchain</li>
			<li>Dynamic analysis and instrumentation</li>
			<li>Reverse engineering</li>
			<li>Rowhammer attack and utilization</li>
			<li>Mobile devices attack and defense</li>
			<li>CTF!</li>
		</ul>
	More details about me can be found in my <a href="../cv/CV_Hongwei_Wu.pdf" target="_blank">CV</a>.
</p>
<br />

